<div class="wrapper">
  <div class="welcome">
    <h1>Welcome to Ninja Ninja!</h1>
    <p>Where qualified ninjas find their dream job as a living nightmare.</p>
  </div>

  <%= render 'layouts/category'; %>

  <ul id="timeline">
    <% @jobs.each do |job| %>
      <%= link_to job do %>
        <li class="listing clearfix">
          <div class="info">
            <span class="job_title"><%= job.title %></span>
            <span class="job_info"><%= job.company %> 
              <span>&bull;</span><%= job.location %> <span>&bull;</span><%= job.created_at.strftime("%B %d") %>
            </span>
          </div>
          <span class="job_type"><%= job.category.name %></span>
        </li>
      <% end %>
    <% end %>
  </ul>

</div>   