<div class="show">
  <h3 class="job_title"><%= @job.title %><h3>
  <p class="job_company"><%= @job.company %><br></p>
  <p class="job_description"><%= @job.description %></p>
  <p class="job_category"><%= @job.category.name %></p>
  <%= link_to "View Job", @job.url, :target => "_blank" %>
</div>

<% if @job.user == current_user %>
  <div class="show_actions">
    <p><%= link_to "Edit", edit_job_path(@job) %></p>
    <p><%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "You Sure?" } %></p>
  </div>
<% end %>