<div class="show">
  <h2><%= @job.title %></h2>
  <p><%= @job.company %></p>
  <p><%= @job.description %></p>
  <%= link_to "View Job", @job.url, :target => "_blank" %>
</div>

<% if @job.user == current_user %>
  <div class="show_actions">
    <p><%= link_to "Edit", edit_job_path(@job) %></p>
    <p><%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "You Sure?" } %></p>
  </div>
<% end %>